<div class="row-fluit main-login">
  <div class="span7 pull-left">
    <h1>Welcome to chepegram</h1>
  </div>
  <div class="span4 pull-right">
    <h3>Login goes here</h3>
    <div id="fb-root"></div>

<!--
  Below we include the Login Button social plugin. This button uses the JavaScript SDK to
  present a graphical Login button that triggers the FB.login() function when clicked.

  Learn more about options for the login button plugin:
  /docs/reference/plugins/login/ -->

<fb:login-button show-faces="true" width="200" max-rows="1"></fb:login-button>
  </div>
</div>
