<div class="row-fluit main-login">
  <div class="span7 pull-left">
    <h1>Welcome to chepegram</h1>
  </div>
  <div class="span4 pull-right">
    <h3>Login goes here</h3>
    <form name="form">
      <legend>Sing In</legend>
      <label>Name</label>
      <input type="text" ng-model="project.name">
      <label>Email</label>
      <input type="email" ng-model="project.emain">
      <label>Password</label>
      <input type="password" ng-model="project.pass">
      <label>Password</label>
      <input type="password" ng-model="project.passVerify">
      <hr>
    <button class="btn btn-primary" ng-click="save()">Send</button>
</form>
</div>
